@page
@model ASP.NET_Lessons.Pages.Lessons.Lesson4.IndexModel
@{
}

@await Html.PartialAsync("_Welcome")

<p>Index</p>


@section HeadExtra {
    <style>
        h1 {
            color: blue;
        }
    </style>
}