@page "/lessons/lesson2/product/{id:int}"
@model ASP.NET_Lessons.Pages.Lessons.Lesson2.ProductModel
@{
}

<h1>Product deails: </h1>
<p>Product ID: @Model.Id</p>
<p>Product Color: @Model.Color</p>
<p>Product Page number: @Model.PageNumber</p>