@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Works: </h1>
<div>
    <b>Lesson2</b>
    <ul>
        <li>Exercice 1: 
            <a asp-page="/lessons/lesson2/Hello">Hello.cshtml</a>
        </li>
        <li>Exercice 2: 
            <a asp-page="/lessons/lesson2/Info">Info.cshtml</a>
        </li>
        <li>Exercice 3: 
            <a asp-page="/lessons/lesson2/Contact">Contact.cshtml</a>
        </li>
        <li>Exercice 4: 
            <a 
            asp-page="/lessons/lesson2/Product" 
            asp-route-id="2" 
            asp-route-color="red" 
            asp-route-pageNumber="2">Product.cshtml</a>
        </li>
        <li>Exercice 5: 
            <a asp-page="/lessons/lesson2/Feedback">Feedback.cshtml</a>
        </li>
    </ul>

</div>
